<html>
	<head>
		<link rel="stylesheet" href="static/css/circus/stylesheet.css" type="text/css" charset="utf-8" />
			<link rel="stylesheet" href="static/css/layout.css" type="text/css" charset="utf-8" />
	</head>
	<body>
		<div id="welcome-container" style="width:1000px; margin:120px; margin-top:100px; text-align:center">
			<div id="welcome" style="font-size:100">
				Welcome
			</div>
			<div style="margin-top:20px; text-align:center; font-size:30">
				to the Gallery of Muscles!
			</div>
			<div id="gaze" class="entersite">
				Would you like to gaze upon the muscles?
				<a href="gaze">
					<img src="static/images/leftarrow.png" style="height:200px; width:200px"/>
				</a>
			</div>
			<div id="record" class="entersite">
				Or record your feats of strength for history?
				<a href="record">
					<img src="static/images/rightarrow.png" style="height:200px; width:200px" />
				</a>
			</div>
		</div>
	</body>
</html>